target

# mvn hpi:run
work

# mvn release:rollback release:clean
pom.xml.releaseBackup
release.properties

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project
